/*General*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/*Header y Footer*/
.banner{
    background-color: darkblue;
    color:white;
    padding: 2em;
}

/*solo header*/
.head {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/*tamaño del logo*/
.head .fas {font-size: 30px;} /*nuevo orginal en 100px*/

/*Tamaño del h1 del header*/
.head h1{
    font-size: 2em;
}

/*Menu del header*/
.menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.menu ul a{
    text-decoration: none;
    color: white;
    padding:0.5em;
}


.menu li a:hover {
    background-color: grey;
    color: black;
    border: 1px solid white;
    cursor:pointer;
}


/*Especifico del footer*/
.pie{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    align-content: space-between;
}

.pie>div{
    padding: 0.5em;
    min-width:30%;
    text-align: justify;
    align-self: stretch;
    padding-left: 5%;
}

.pie>div h2{
    padding-bottom: 0.5em;
    font-size: 1em; /*nuevo*/
}

.pie>div p{
    font-size:0.8em /*nuevo*/
}

.pie>div img {
    width:15px; 
    height:15px;
}

.pie div a{
    color:yellow;
    padding-top: 1em;

}

.pie div .contacto{
    text-decoration: none;
    color:white;
}

.pie div .redes-sociales{
    text-decoration: none;
    color:white;
    padding-top: 2em;
    padding-left: 0.5em;
}

/*Hero imagen*/
.nosotros{
    min-height: 100vh;
    background-image: url(../img/equipo_medico.jpg);
    background-repeat: no-repeat;
    color:#eee;
    background-size: 100% 100%;
}
/*Inpunt de nosotros*/
.nosotros .input{
    min-height: inherit;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(0,0,0,.75);
}

.nosotros .input h2{
    font-size: 0.8em; /*nuevo*/
}

.nosotros input{
    border:none;
    padding: 1em;
    font-size: 5vw;
    background-color:none;
    background : inherit;
    color:white;
}

.nosotros input:hover{
    font-size: 6vw;
    color:yellow;
    cursor:pointer;
}

/*Estructura del contenedor general*/
.contenedor-general{
    display: flex;
    flex-direction: column;
}

/*Estructura del contenedor servicios*/
.contenedor-general .servicios {
    background: linear-gradient(to bottom right, grey, white);
    padding: 1em;
}

.contenedor-general .servicios >div h2{
    text-align: center;
    font-size: 5vw;
    color:white;
}

.contenedor-general .servicios .contenedor-servicios{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2em;
}

.contenedor-general .servicios .contenedor-servicios .item {
    padding: 1em;
    align-items:stretch;
    /*width: 35%;*/
    align-self:auto;
    justify-content: flex-start;
}

.contenedor-general .servicios .contenedor-servicios .item .texto p{
    text-align: justify;
    padding-bottom: 20px;
}

.contenedor-general .servicios .contenedor-servicios .item .texto h2{
    text-align: left;
}

.contenedor-general .servicios .contenedor-servicios .item img{
    width: 200px;
    height: 200px;
}



/*Configuración de un boton desplegable con texto*/
.contenedor-general .servicios .contenedor-servicios .item .texto input[id^="activar"]{
    display: none;
}

.contenedor-general .servicios .contenedor-servicios .item .texto input[id^="activar"] ~ .desplegable {
    display: none;
    overflow: hidden;
}

.contenedor-general .servicios .contenedor-servicios .item .texto input[id^="activar"] + label{
    display: block;
    margin-left: 1%;
    width: 200px;
    padding: 5px 20px;
    background: #1883ba;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    border: 2px solid #0016b0;
    cursor: pointer;
    transition: all .6s;
}

.contenedor-general .servicios .contenedor-servicios .item .texto input[id^="activar"]:checked + label {
    color: #333;
    background: #ccc;
}

.contenedor-general .servicios .contenedor-servicios .item .texto input[id^="activar"]:checked ~ .desplegable {
    display: block;
}


/*Estructura general del contenedor de proyectos*/
.contenedor-general .proyecto {
    background: linear-gradient(to left bottom, rgb(161, 216, 182), white);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-general .proyecto .titulo-proyectos h2{
    text-align: center;
    font-size: 5vw;
    color:white;
}

.contenedor-general .proyecto .proyectos-item {
    width: 70%;
}

.contenedor-general .proyecto .proyectos-item .item {
    padding: 0.5em;
    display: flex;
    text-align: justify;
    flex-direction: column; /*nuevo*/
}

.contenedor-general .proyecto .proyectos-item .derecha .texto{
    width: 100%;
}

.contenedor-general .proyecto .proyectos-item .item .imagen>img { 
    width:200px;
    height:150px;
}


@media (min-width: 900px){
    .head {
        flex-direction: row;
    }

    /*tamaño del logo*/
    .head .fas {font-size: 100px;}

    /*Tamaño del h1 del header*/
    .head h1{font-size: 4em;} /*ajustado original en 5em*/

    .menu ul{
        flex-direction: row;
    }

    .pie{
        flex-direction: row;
    }

    .pie>div h2{
        font-size: 1.5em; /*nuevo*/
    }
    
    .pie>div p{
        font-size:1em /*nuevo*/
    }

    .nosotros .input h2{
        font-size: 1.6em; /*nuevo*/
    }

    .contenedor-general .servicios .contenedor-servicios{
        flex-direction: row;
        text-align: center;
    }

    .contenedor-general .servicios .contenedor-servicios .item {
        align-items: center;
        width: 35%;
        align-self: center;
    }
    
    .contenedor-general .servicios .contenedor-servicios .item .texto h2{
        text-align: center;
    }

    .contenedor-general .servicios .contenedor-servicios .item img{
        width: 300px; /*ajustado original en 300px*/
        height: 300px; /*ajustado original en 300px*/
    }

    .contenedor-general .servicios .contenedor-servicios .item .texto input[id^="activar"] + label{
        margin-left: 20%; /*nuevo*/
    }

    .contenedor-general .proyecto .proyectos-item {
        width: 90%; /*ajustado --> original en 90%*/
    }

    .contenedor-general .proyecto .proyectos-item .item .imagen>img { 
        width:400px; /*ajustado original en 400px*/
        height:300px; /*ajustado original en 300px */
    }

    .contenedor-general .proyecto .proyectos-item .item.derecha {
        padding-right: 1em;
        justify-self: flex-end;
        flex-direction: column; 
        text-align: right;
        margin-left: 50%;
    }
    
    .contenedor-general .proyecto .proyectos-item .item.izquierda {
        padding-left: 1em;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
        margin-right: 50%;
    }
}